{% block stylesheets %}
    <link href="{{ asset('bundles/topxiaweb/css/page/style1.css') }}" rel="stylesheet"/>
{% endblock %}



{# logo 头部 #}
<div class="bann_logo_box clearfix">
    <a href="#" title="翰墨教师" target="_blank" class="logo_pic">
        <img src="/bundles/topxiaweb/img/page/logo.jpg" alt="翰墨教师" title="翰墨教师" width=320px>
    </a>
    {# <h1 class="logo_right_text">|<span>教师资格</span></h1> #}
    <div class="module_five"><a class="module_01" href="http://www.zgjsks.com/html/xkbb/" target="_blank" title="选课报班">选课报班</a><a
                class="module_02" href="http://ti.zgjsks.com/index/index.html" target="_blank" title="在线模考">在线模考</a><a
                class="module_03" href="http://www.zgjsks.com/html/jiaoan/" target="_blank" title="教案模板">教案模板</a><a
                class="module_04" href="http://www.zgjsks.com/html/spzqhz/" target="_blank" title="视频教学">视频教学</a><a
                class="module_05" href="http://www.zgjsks.com/zbk/" target="_blank" title="直播课程">直播课程</a></div>
</div>


{# 绿色导航栏 #}
<div class="nav_box">
    <ul class="nav2 nav_jszg">
        <li class="nav_first">
            <h3>动态</h3>
            <ul calss="ul_first" style="padding-top: 14px;">
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">考试报名</a>
                </li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">考试时间</a>
                </li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank"
                       title="相关问题">普通话</a></li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">报考指南</a>
                </li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">成绩查询</a>
                </li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">考试大纲</a>
                </li>
            </ul>
        </li>
        <li class="nav_first">
            <h3><a href="http://www.zgjsks.com/html/jszg/" target="_blank" title="资格考试">备考</a></h3>
            <ul calss="ul_first" style="padding-top: 14px;">
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">考试报名</a>
                </li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">考试时间</a>
                </li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank"
                       title="相关问题">普通话</a></li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">报考指南</a>
                </li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">成绩查询</a>
                </li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">考试大纲</a>
                </li>
            </ul>
        </li>
        <li class="nav_first">
            <h3><a href="http://www.zgjsks.com/html/jszg/" target="_blank" title="资格考试">层次</a></h3>
            <ul calss="ul_first" style="padding-top: 14px;">
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">考试报名</a>
                </li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">考试时间</a>
                </li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank"
                       title="相关问题">普通话</a></li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">报考指南</a>
                </li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">成绩查询</a>
                </li>
                <li><a href="http://www.zgjsks.com/html/jszg/kaoshizixun/baokaozhidao/" target="_blank" title="相关问题">考试大纲</a>
                </li>
            </ul>
        </li>
    </ul>
</div>


{# 学习工具 #}
<div class="jszp_main_box">
    <div class="jszp_main_left">
        <h2>学习工具</h2>
        <div class="jszp_right_guide">
            <a class="guide_01" href="course/explore/teacher" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/xuanke.png">选课中心</div>
            </a>
            <a class="guide_02" href="http://www.zgjsks.com/html/jszg/kaoshizixun/tiaojian/" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/xuexi.png">学习中心</div>
            </a>
            <a class="guide_03" href="http://www.zgjsks.com/html/jszg/kaoshizixun/tiaojian/" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/ziliao.png">辅导资料</div>
            </a>
            <a class="guide_04" href="article" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/zixun.png">资讯热点</div>
            </a>
            <a class="guide_05" href="article/category/kaoshigonggao" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/gonggao.png">考试公告</div>
            </a>
            <a class="guide_06" href="article/category/jszhaopin" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/zhaopin.png">教师招聘</div>
            </a>
            <a class="guide_07" href="testpaper/explore/testjsz" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/tiku.png">在线题库</div>
            </a>
            <a class="guide_08" href="testpaper/explore/testjsz?TestType=1" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/moni.png">模拟考试</div>
            </a>
            <a class="guide_09" href="testpaper/explore/testjsz?TestType=2" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/zhenti.png">历年真题</div>
            </a>

        </div>
    </div>

    <div class="jszp_main_central">
        <h2>好课推荐</h2>
        <div class="jszp_right_guide">
            <a class="guide_01" href="course/explore/teacher" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/xuanke.png">选课中心</div>
            </a>
            <a class="guide_02" href="http://www.zgjsks.com/html/jszg/kaoshizixun/tiaojian/" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/xuexi.png">学习中心</div>
            </a>
            <a class="guide_03" href="http://www.zgjsks.com/html/jszg/kaoshizixun/tiaojian/" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/ziliao.png">辅导资料</div>
            </a>
            <a class="guide_04" href="article" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/zixun.png">资讯热点</div>
            </a>
            <a class="guide_05" href="article/category/kaoshigonggao" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/gonggao.png">考试公告</div>
            </a>
            <a class="guide_06" href="article/category/jszhaopin" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/zhaopin.png">教师招聘</div>
            </a>
            <a class="guide_07" href="testpaper/explore/testjsz" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/tiku.png">在线题库</div>
            </a>
            <a class="guide_08" href="testpaper/explore/testjsz?TestType=1" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/moni.png">模拟考试</div>
            </a>
            <a class="guide_09" href="testpaper/explore/testjsz?TestType=2" target="_blank">
                <div class="left_box"><img src="/bundles/topxiaweb/img/page/zhenti.png">历年真题</div>
            </a>

        </div>
    </div>

    <div class="jszp_main_right">
        <h2>在线刷题</h2>

        <ul class="hot_course_box01 clearfix">
            <li><em>荐</em>
                <p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2018年上半年全国教资笔试备考</a></p>
                <span><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">开始刷题</a></span></li>
            <li><em>1</em>
                <p><a href="http://www.zgjsks.com/html/zg/2018jz_bszb/" target="_blank">2018上半年教师资格笔试直播课</a></p>
                <span><a href="http://www.zgjsks.com/html/zg/2018jz_bszb/" target="_blank">点击报名</a></span></li>
            <li><em class="green">2</em>
                <p><a href="http://www.51gouke.com/shsh/13-26-gk6234.html" target="_blank">2018上海教师资格笔试辅导课程</a></p>
                <span><a href="http://www.51gouke.com/shsh/13-26-gk6234.html" target="_blank">点击报名</a></span></li>
            <li><em class="green">热</em>
                <p><a href="http://www.51gouke.com/gzgy/13-17-2079.html" target="_blank">2018贵州教师资格笔试辅导课程</a></p>
                <span><a href="http://www.51gouke.com/gzgy/13-17-2079.html" target="_blank">点击报名</a></span></li>
        </ul>
    </div>
</div>


{# 广告图 #}
<div class="jszp_banner_box">
    <a href="http://www.51gouke.com/gzgy/13-17-2079.html" target="_blank"><img
                src="/bundles/topxiaweb/img/page/banner1.jpg"></a>
</div>


{# 教师资格证考试 #}
<div class="jszp_zixun_box">
    <h2>教师资格证考试</h2>
    <div class="jszp_gonggao_box clearfix">
        <h4>考试公告</h4>
        <ul class="jszp_gonggao_li">
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2017下半年全国教师资格考试笔试真题汇总！</a></p>
            </li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2017下半年全国教师资格考试笔试真题汇总！</a></p>
            </li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2018年上半年全国教资笔试备考</a></p></li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2018年上半年全国教资笔试备考</a></p></li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2017下半年全国教师资格考试笔试真题汇总！</a></p>
            </li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2018年上半年全国教资笔试备考</a></p></li>
        </ul>
    </div>
    <div class="jszp_gonggao_box">
        <h4>报考条件</h4>
        <ul class="jszp_gonggao_li">
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2017下半年全国教师资格考试笔试真题汇总！</a></p>
            </li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2017下半年全国教师资格考试笔试真题汇总！</a></p>
            </li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2018年上半年全国教资笔试备考</a></p></li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2018年上半年全国教资笔试备考</a></p></li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2017下半年全国教师资格考试笔试真题汇总！</a></p>
            </li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2018年上半年全国教资笔试备考</a></p></li>
        </ul>
    </div>
    <div class="jszp_gonggao_box" style=" border-right:2px dashed #d4dde4;">
        <h4>普通话考试</h4>
        <ul class="jszp_gonggao_li">
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2017下半年全国教师资格考试笔试真题汇总！</a></p>
            </li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2017下半年全国教师资格考试笔试真题汇总！</a></p>
            </li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2018年上半年全国教资笔试备考</a></p></li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2018年上半年全国教资笔试备考</a></p></li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2017下半年全国教师资格考试笔试真题汇总！</a></p>
            </li>
            <li><p><a href="http://www.zgjsks.com/html/zg/2018jzbs_hd/" target="_blank">2018年上半年全国教资笔试备考</a></p></li>
        </ul>
    </div>
    <div class="jszp_richeng_box">
        <h4>考试日程</h4>
        <p id="bishi" style="float:left; padding-right:20px; font-size:16px; border-bottom:2px solid #C0C0C0; ">国考笔试</p>
        <p id="mianshi" style="float:left; font-size:16px; border-bottom:2px solid #C0C0C0; width:120px; ">国考面试</p>
        <br/><br/>
        <div class="jszp_richeng_box_cont" id="bmsj">报名时间 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4月5日~8日</div>
        <div class="jszp_richeng_box_cont" id="zkzdy">准考证打印 &nbsp;&nbsp;&nbsp; 考前一周</div>
        <div class="jszp_richeng_box_cont" id="kssj">笔试时间 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2018.3.2</div>
        <div class="jszp_richeng_box_cont" id="cjcx">成绩查询 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 考后一个月</div>
    </div>

</div>
</div>


{# 教师招聘动态 #}
{% set jszhaopin = data('ArticleCategory',{code: 'jszhaopin'}) %}
<div class="inter_box_title inter_jszp_title">
    <h2 style="color:#2dbb55;">{{ jszhaopin.name|trans }}</h2> {# 教师招聘动态 #}
</div>
<ul class="jszp_box_text clearfix">
    <li>

        <div class="base_list_box_jszp">
            <a href="http://www.zgjsks.com/html/2017/linianzhenti_1104/270779.html" target="_blank"
               title="2017下半年全国教师资格考试笔试真题汇总！">2017下半年全国教师资格考试笔试真题汇总！</a>
            <a href="http://www.zgjsks.com/html/2017/linianzhenti_1121/273220.html" target="_blank"
               title="教师资格考试 高中体育学科专业知识 试题精编">教师资格考试 高中体育学科专业知识 试题精编</a>
            <a href="http://www.zgjsks.com/html/2017/linianzhenti_1121/273210.html" target="_blank"
               title="教师资格考试初中体育学科专业知识 试题">教师资格考试初中体育学科专业知识 试题</a>
            <a href="http://www.zgjsks.com/html/2017/linianzhenti_1121/273206.html" target="_blank"
               title="教师资格考试高中体育学科专业知识  真题精编">教师资格考试高中体育学科专业知识 真题精编</a>
            <a href="http://www.zgjsks.com/html/2017/linianzhenti_1121/273204.html" target="_blank"
               title="2017年教师资格初中体育学科专业知识真题精编">2017年教师资格初中体育学科专业知识真题精编</a>
            <a href="http://www.zgjsks.com/html/2017/linianzhenti_1108/271338.html" target="_blank"
               title="2017下半年教师资格考试《通用技术学科知识与能力》真题（高中）">2017下半年教师资格考试《通用技术学科知识与能力》</a>
        </div>
    </li>
    <li>

        <div class="base_list_box_jszp">
            <a href="http://www.zgjsks.com/html/2017/monishiti_0711/244816.html" target="_blank"
               title="教师资格证模拟试题/高频考点/强化练习题">教师资格证模拟试题/高频考点/强化练习题</a>
            <a href="http://www.zgjsks.com/html/2017/monishiti_1222/277807.html" target="_blank"
               title="2017年下半年中小学教师资格考试 数学学科知识与教学能力模拟卷答案（高级中学）">2017年下半年中小学教师资格考试 数学学科知识与教</a>
            <a href="http://www.zgjsks.com/html/2017/monishiti_1222/277806.html" target="_blank"
               title="2017年下半年中小学教师资格考试 数学学科知识与教学能力模拟卷（高级中学）">2017年下半年中小学教师资格考试 数学学科知识与教</a>
            <a href="http://www.zgjsks.com/html/2017/monishiti_1221/277647.html" target="_blank"
               title="2017年下半年教师资格证高中语文学科知识与教学能力模拟卷">2017年下半年教师资格证高中语文学科知识与教学能力</a>
            <a href="http://www.zgjsks.com/html/2017/monishiti_1221/277645.html" target="_blank"
               title="2017年下半年教师资格考试语文学科知识与教学能力(初级中学)模拟卷">2017年下半年教师资格考试语文学科知识与教学能力(</a>
            <a href="http://www.zgjsks.com/html/2017/monishiti_1221/277491.html" target="_blank"
               title="教师资格笔试经典考点模拟题及答案解析">教师资格笔试经典考点模拟题及答案解析</a>
        </div>
    </li>
    <li>

        <div class="base_list_box_jszp">
            <a href="http://www.zgjsks.com/html/2018/meiriyilian_0103/279142.html" target="_blank"
               title="2018国家教师资格证考试每日一练2期（视频版）">2018国家教师资格证考试每日一练2期（视频版）</a>
            <a href="http://www.zgjsks.com/html/2018/meiriyilian_0103/279141.html" target="_blank"
               title="2018国家教师资格证考试每日一练2期答案（视频版）">2018国家教师资格证考试每日一练2期答案（视频版）</a>
            <a href="http://www.zgjsks.com/html/2018/meiriyilian_0102/278961.html" target="_blank"
               title="2018国家教师资格证考试每日一练1期（视频版）">2018国家教师资格证考试每日一练1期（视频版）</a>
            <a href="http://www.zgjsks.com/html/2018/meiriyilian_0102/278958.html" target="_blank"
               title="2018国家教师资格证考试每日一练1期答案（视频版）">2018国家教师资格证考试每日一练1期答案（视频版）</a>
            <a href="http://www.zgjsks.com/html/2018/meiriyilian_0102/278962.html" target="_blank"
               title="2018年教师考试每日一练汇总（持续更新）">2018年教师考试每日一练汇总（持续更新）</a>
            <a href="http://www.zgjsks.com/html/2017/meiriyilian_1229/278676.html" target="_blank"
               title="2017国家教师资格证考试每日一练247期（视频版）">2017国家教师资格证考试每日一练247期（视频版）</a>
        </div>

    </li>
</ul>


{# 名师风采 #}
<div class="jszp_mingshi_box">
    <h2>名师风采</h2>
    <div>
        <a href="#" target="_blank"><img src="/bundles/topxiaweb/img/page/mingshi.png"></a>
        <a href="#" target="_blank"><img src="/bundles/topxiaweb/img/page/mingshi.png"></a>
        <a href="#" target="_blank"><img src="/bundles/topxiaweb/img/page/mingshi.png"></a>
        <a href="#" target="_blank"><img src="/bundles/topxiaweb/img/page/mingshi.png"></a>
        <a href="#" target="_blank"><img src="/bundles/topxiaweb/img/page/mingshi.png"></a>
    </div>
</div>


{# 使用教材 #}
<div class="jszp_jiaocai_box">
    <h2>使用教材</h2>
    <div class="books_material_list">
        <div class="books_material  clearfix" style="display: block;">
            <ul>
                <li><a href="http://www.zgjsks.com/zg/2014js_tsjc/" target="_blank"><img
                                src="/bundles/topxiaweb/img/page/jiaocai.jpg"></a> <a class="books_title_info"
                                                                                      href="http://www.zgjsks.com/zg/2014js_tsjc/"
                                                                                      target="_blank"><span>2018国家教师资格考试教材</span><br>
                        教育教学知识与能力</a></li>
                <li><a href="http://www.zgjsks.com/zg/2014js_tsjc/" target="_blank"><img
                                src="/bundles/topxiaweb/img/page/jiaocai.jpg"></a> <a class="books_title_info"
                                                                                      href="http://www.zgjsks.com/zg/2014js_tsjc/"
                                                                                      target="_blank"><span>2018国家教师资格考试教材</span><br>
                        教育知识与能力</a></li>
                <li><a href="http://www.zgjsks.com/zg/2014js_tsjc/" target="_blank"><img
                                src="/bundles/topxiaweb/img/page/jiaocai.jpg"></a> <a class="books_title_info"
                                                                                      href="http://www.zgjsks.com/zg/2014js_tsjc/"
                                                                                      target="_blank"><span>2018国家教师资格考试教材</span><br>
                        保教知识与能力</a></li>
                <li><a href="http://www.zgjsks.com/zg/2014js_tsjc/" target="_blank"><img
                                src="/bundles/topxiaweb/img/page/jiaocai.jpg"></a> <a class="books_title_info"
                                                                                      href="http://www.zgjsks.com/zg/2014js_tsjc/"
                                                                                      target="_blank"><span>2018国家教师资格考试教材</span><br>
                        小学一本通</a></li>
                <li><a href="http://www.zgjsks.com/zg/2014js_tsjc/" target="_blank"><img
                                src="/bundles/topxiaweb/img/page/jiaocai.jpg"></a> <a class="books_title_info"
                                                                                      href="http://www.zgjsks.com/zg/2014js_tsjc/"
                                                                                      target="_blank"><span>2018全国教师资格考试教材</span><br>
                        中学一本通</a></li>
            </ul>
        </div>
    </div>
</div>

{% do script(['app/js/page/page-content.js']) %}
