{% block stylesheets %}
<link href="{{ asset('bundles/topxiaweb/css/page/style1.css') }}" rel="stylesheet" />
{% endblock %}


{% set jszhaopin = data('ArticleCategory',{code: 'jszhaopin'}) %}
    <div class="inter_box_title inter_jszp_title">
         <h2>{{ jszhaopin.name|trans }}</h2> {# 教师招聘动态 #}
    </div>
	<ul class="jszp_box_text clearfix">
         <li>
              <h3><a href="http://www.zgjsks.com/html/jszg/kaoshitiku/linianzhenti/" target="_blank">历年真题</a></h3>
              <div class="base_list_box_jszp">
			   										<a href="http://www.zgjsks.com/html/2017/linianzhenti_1104/270779.html" target="_blank" title="2017下半年全国教师资格考试笔试真题汇总！">2017下半年全国教师资格考试笔试真题汇总！</a>
										<a href="http://www.zgjsks.com/html/2017/linianzhenti_1121/273220.html" target="_blank" title="教师资格考试 高中体育学科专业知识 试题精编">教师资格考试 高中体育学科专业知识 试题精编</a>
										<a href="http://www.zgjsks.com/html/2017/linianzhenti_1121/273210.html" target="_blank" title="教师资格考试初中体育学科专业知识 试题">教师资格考试初中体育学科专业知识 试题</a>
										<a href="http://www.zgjsks.com/html/2017/linianzhenti_1121/273206.html" target="_blank" title="教师资格考试高中体育学科专业知识  真题精编">教师资格考试高中体育学科专业知识  真题精编</a>
										<a href="http://www.zgjsks.com/html/2017/linianzhenti_1121/273204.html" target="_blank" title="2017年教师资格初中体育学科专业知识真题精编">2017年教师资格初中体育学科专业知识真题精编</a>
										<a href="http://www.zgjsks.com/html/2017/linianzhenti_1108/271338.html" target="_blank" title="2017下半年教师资格考试《通用技术学科知识与能力》真题（高中）">2017下半年教师资格考试《通用技术学科知识与能力》</a>
									               </div>
         </li>
         <li>
              <h3><a href="http://www.zgjsks.com/html/jszg/kaoshitiku/monishiti/" target="_blank">模拟试题</a></h3>
              <div class="base_list_box_jszp">
               										<a href="http://www.zgjsks.com/html/2017/monishiti_0711/244816.html" target="_blank" title="教师资格证模拟试题/高频考点/强化练习题">教师资格证模拟试题/高频考点/强化练习题</a>
										<a href="http://www.zgjsks.com/html/2017/monishiti_1222/277807.html" target="_blank" title="2017年下半年中小学教师资格考试 数学学科知识与教学能力模拟卷答案（高级中学）">2017年下半年中小学教师资格考试 数学学科知识与教</a>
										<a href="http://www.zgjsks.com/html/2017/monishiti_1222/277806.html" target="_blank" title="2017年下半年中小学教师资格考试 数学学科知识与教学能力模拟卷（高级中学）">2017年下半年中小学教师资格考试 数学学科知识与教</a>
										<a href="http://www.zgjsks.com/html/2017/monishiti_1221/277647.html" target="_blank" title="2017年下半年教师资格证高中语文学科知识与教学能力模拟卷">2017年下半年教师资格证高中语文学科知识与教学能力</a>
										<a href="http://www.zgjsks.com/html/2017/monishiti_1221/277645.html" target="_blank" title="2017年下半年教师资格考试语文学科知识与教学能力(初级中学)模拟卷">2017年下半年教师资格考试语文学科知识与教学能力(</a>
										<a href="http://www.zgjsks.com/html/2017/monishiti_1221/277491.html" target="_blank" title="教师资格笔试经典考点模拟题及答案解析">教师资格笔试经典考点模拟题及答案解析</a>
									               </div>
         </li>
         <li>
              <h3><a href="http://www.zgjsks.com/html/jszg/kaoshitiku/meiriyilian/" target="_blank">每日一练</a></h3>
              <div class="base_list_box_jszp">
               										<a href="http://www.zgjsks.com/html/2018/meiriyilian_0103/279142.html" target="_blank" title="2018国家教师资格证考试每日一练2期（视频版）">2018国家教师资格证考试每日一练2期（视频版）</a>
										<a href="http://www.zgjsks.com/html/2018/meiriyilian_0103/279141.html" target="_blank" title="2018国家教师资格证考试每日一练2期答案（视频版）">2018国家教师资格证考试每日一练2期答案（视频版）</a>
										<a href="http://www.zgjsks.com/html/2018/meiriyilian_0102/278961.html" target="_blank" title="2018国家教师资格证考试每日一练1期（视频版）">2018国家教师资格证考试每日一练1期（视频版）</a>
										<a href="http://www.zgjsks.com/html/2018/meiriyilian_0102/278958.html" target="_blank" title="2018国家教师资格证考试每日一练1期答案（视频版）">2018国家教师资格证考试每日一练1期答案（视频版）</a>
										<a href="http://www.zgjsks.com/html/2018/meiriyilian_0102/278962.html" target="_blank" title="2018年教师考试每日一练汇总（持续更新）">2018年教师考试每日一练汇总（持续更新）</a>
										<a href="http://www.zgjsks.com/html/2017/meiriyilian_1229/278676.html" target="_blank" title="2017国家教师资格证考试每日一练247期（视频版）">2017国家教师资格证考试每日一练247期（视频版）</a>
									                </div>
            
         </li>
     </ul>