.clearfix:after {

	content:".";

    clear: both;

    display: block;

    font-size: 0;

    height: 0;

    visibility: hidden;

}

.clearfix { display: inline-table; }

* html .clearfix { height: 1%; }

.clearfix { display: block;}



.inter_box_title { background:url("../../img/page/title_gline.jpg") repeat-x scroll 0 bottom; width: 280px; width:1200px; margin:15px auto 0px; border-bottom:2px solid #d4dde4;}





.jszp_box_text{ width:1280px; height:auto; margin:0 auto;}

.jszp_box_text li{ width:400px; height:auto; float:left; overflow:hidden;}

.jszp_box_text li h3{ height:36px; color:#2dbb55; padding-left:10px; font:bold 16px/36px 'Microsoft Yahei'; background:url(../../img/page/green_l.jpg) no-repeat 2px center;}

.jszp_box_text li h3 a{color:#2dbb55; display:block; padding-right:12px; float:left; display:inline; }

.base_list_box_jszp a{ color:#404040;  width:340px; overflow:hidden; font:normal 14px/28px 'Microsoft Yahei'; background:url(../../img/page/icon_icon.jpg) no-repeat 0 center;white-space: nowrap;}

.base_list_box_jszp a:link,.base_list_box_jszp a:visited{ color:#404040}

.base_list_box_jszp a:hover{ color:#fa6060; text-decoration:underline;}




.nav_box{ width:100%; height:64px; background:#2dbb55; }

.nav_box { background:#2dbb55; height: 64px; min-width: 1200px; width: 100%;}

.nav2{ height: 56px;padding-top: 8px; margin: 0 auto; width: 1200px;}

.nav2 li { background:url("../../images/newimg/navbg.jpg") no-repeat scroll 410px center;float: left; font:normal 14px/24px 'Microsoft Yahei'; height: 48px; _height:48px; padding-right: 24px;  width: 420px;}

.nav2 li.nav_last { background: none repeat scroll 0 0; height: 48px; padding-right: 0; width: 312px;}

.nav2 li h3 {float: left; font-weight: bold; height: 48px;width: 38px;}

.nav2 li a {color: #fff;}

.nav2 li a:hover {color: #fff;}

.nav2 li ul { float: left; width: 380px; height:48px; }

.nav2 li ul li { background:none repeat scroll 0 0; float: left; height: 24px; padding: 0; text-align: center; width: 90px;}

.nav2 li.nav_last ul { width: 274px;}

.nav2 li.nav_last li { width:90px;}

.nav2 li ul li.nav_spe { width:90px;}

.nav_jszg li.nav_first{ width:330px;background: url("../../images/newimg/navbg.jpg") no-repeat scroll 320px center;}

.nav_jszg li.nav_first ul{ width:285px;}

.nav_jszg li.nav_sec{ width:500px;background: url("../../images/newimg/navbg.jpg") no-repeat scroll 496px center;}

.nav_jszg li.nav_sec ul{ width:460px;}

