<section class="es-section">
          <div class="nav-btn-tab">

	          		          <ul class="nav nav-tabs " role="tablist">
						<li role="presentation" id="tasks" class="active">
				<a href="/app_dev.php/my/course/42">
					目录
														</a>
			</li>
								<li role="presentation" id="threads" class="">
				<a href="/app_dev.php/my/course/42/threads">
					讨论区
																							<small>(0)</small>
															</a>
			</li>
								<li role="presentation" id="notes" class="">
				<a href="/app_dev.php/my/course/42/notes">
					笔记
																							<small>(0)</small>
															</a>
			</li>
								<li role="presentation" id="material" class="">
				<a href="/app_dev.php/my/course/42/material">
					资料区
																							<small>(0)</small>
															</a>
			</li>
								<li role="presentation" id="reviews" class="">
				<a href="/app_dev.php/my/course/42/reviews">
					评价
																							<small>(0)</small>
															</a>
			</li>
								<li role="presentation" id="summary" class="">
				<a href="/app_dev.php/my/course/42/summary">
					介绍
														</a>
			</li>
			<li class="highlight" style="left: 0px; width: 92px; overflow: hidden;"></li></ul>	          
                          <div class="btnbar hidden-xs">
                <a href="#modal" data-toggle="modal" data-url="/app_dev.php/announcement/course/42/create" class="btn btn-link">
                  <i class="es-icon es-icon-anonymous-iconfont"></i>
                  公告
                </a>
              </div>
            
          </div>
                      <div class="course-detail-content">
  <ul class="task-list task-list-md task-list-hover">
                          
        
                              <li class="task-item task-content mouse-control">
            <i class="es-icon
                            es-icon-undone-check color-gray
                            left-menu"></i>

            
                              <a class="title" href="/app_dev.php/course/42/task/278/show">
                  任务1： 123
                </a>
              
              <span class="right-menu color-gray ">
  
        
    <i class="es-icon es-icon es-icon es-icon-comment" data-toggle="tooltip" data-placement="top" title="" data-original-title="讨论任务" data-container="body"></i>
</span>
              <span class="right-menu mouse-enter">
                            </span>
                      </li>
                    </ul>
</div>


                  </section>