<div class="course-detail-content">
	<ul class="task-list task-list-md task-list-hover">
		<li class="task-item task-content mouse-control">
            <i class="es-icon es-icon-undone-check color-gray left-menu"></i>
				<a class="title" href="/app_dev.php/course/42/task/278/show">
                  {{ testpaper.name }}
                </a>
			<span class="right-menu color-gray ">
			<i class="es-icon es-icon es-icon es-icon-comment" data-toggle="tooltip" data-placement="top" title="" data-original-title="讨论任务" data-container="body"></i>
			</span>
            <span class="right-menu mouse-enter"> </span>
        </li>
    </ul>
</div>


